* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.productCaraousel {
  position: relative;
}
.carouselSlider{
  
  text-align: center;
  background-color: #000;
  overflow-y: hidden;
  border-radius: 10px;
}

.carouselImageProduct div{
  height: 80vh;
  object-fit: contain;
  background-size: contain!important;
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: #000;
}


 .nextBtn {
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
  background: rgba(247, 245, 245, 0.432);
  border: none;
  border-radius: 50%;
  padding: 10px 10px;
  font-size: xx-large;
  outline: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backBtn {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translate(-50%, -50%);
  background: rgba(247, 245, 245, 0.432);
  border: none;
  border-radius: 50%;
  padding: 10px 10px;
  font-size: xx-large;
  outline: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.priceText {
  font-size: 28px;
  font-weight: 600;
  color: black;
  outline: none;
  margin-top: 10px;
}
.productYear {
  font-size: 20px;
  font-weight: 500;
  color: rgb(168, 168, 175) !important;
  padding-top: 20px;
}
.productName {
  font-size: 35px;
  color: #000;
  padding: 10px 20px;
  outline: none;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 20px;
}
.basicDetails {
  border-radius: 10px;
  padding: 30px 20px;
  box-shadow: 0 2px 10px rgba(240, 240, 240, 0.699),
    0 2px 10px rgba(241, 241, 243, 0.699), 0 3px 10px rgba(216, 216, 219, 0.6);
  display: flex;
  flex-direction: column;
}

.upperContent {
  font-size: 15px !important;
  font-weight: 550;
  color: rgb(114, 114, 117);
  padding: 5px 20px;
  border-bottom: 1px dashed black;
}
.productNo {
  font-size: 18px;
  color: rgb(168, 168, 175);
  margin-top: 10px;
  font-weight: 500;
}
.DealerName {
  font-size: 20px;
  font-weight: 600;
  color: black;
  margin-top: 15px;
}
.productAdd {
  font-size: 18px;
  color: rgb(168, 168, 175);
  margin-top: 10px;
  font-weight: 500;
}
.descriptionUl {
  margin: 20px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  /* border-bottom: 2px solid black; */
}
.descriptiontab {
  width: 100%;
  padding: 20px 20px;
}
.dealerD {
  margin-left: 50px;
  padding: 20px 20px;
}

.dealerList {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 18px;
  list-style: none;
  padding: 10px 10px;
  text-align: left;
  
}
.productsDetails{
  border-top: 2px solid black;
  margin-top: 3rem;
  padding-top: 3rem;
}
.dealerProfileProductName{
  font-size: 1.5rem;
  font-weight: 600;
  color: gray;
  border-bottom: 1px solid gray;
  padding: 0px 20px ;
}
/* *******************************************************************
              Media query
****************************************************************** */
@media (max-width: 992px) {
  .nextBtn {
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    font-size: 20px;
  }
  .backBtn {
    font-size: 20px;
  }
  .basicDetails {
    border-radius: 10px;
    padding: 15px 10px;
    display: flex;
    justify-content: center;
  }
  .priceText {
    font-size: 20px;
    margin-top: 8px;
  }
  .productName {
    font-size: 23px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .productYear {
    font-size: 15px;
    padding-top: 10px;
  }
  .upperContent {
    font-size: 10px;
    padding: 3px 10px;
  }
  .productNo {
    font-size: 15px;
    margin-top: 5px;
  }
  .DealerName {
    font-size: 12px;
    margin-top: 10px;
  }
  .upperContent {
    font-size: 12px !important;
    padding: 5px 10px;
  }
  .productAdd {
    font-size: 15px;
    margin-top: 8px;
  }
}
@media (max-width: 768px) {
  .dealerHider {
    display: none;
  }
  .basicDetails {
    padding: 10px 10px;
    margin-top: 20px;
  }
  .nextBtn {
    position: absolute;
    top: 50%;
    left: 93%;
    transform: translate(-50%, -50%);

    font-size: 15px;
  }
  .backBtn {
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translate(-50%, -50%);
    font-size: 15px;
  }
  .descriptionUl {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .productNoHider {
    display: none;
  }
}


 /* star rating style */

 :root {
  --star-size: 60px;
  --star-color: #fff;
  --star-background: #fc0;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}
.Stars::before {
  content: "★★★★★";
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  
  -webkit-text-fill-color: transparent;
}